.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 50px;
}

/* Media query for tablet (e.g., 768px) */
@media (min-width: 600px) and (max-width: 968px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px;
  }
}

/* Media query for mobile (e.g., 480px) */
@media (max-width: 665px) {
  .cardContainer {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }
}
